# Node
node_modules/
npm-debug.log
yarn-error.log

# Environment
.env
.env.local
.env.development
.env.test
.env.production

# But include examples
!.env.example
!.env.local.example
!.env.production.example

# Build directories
/dist/
/frontend/dist/
/build/

# Logs
/logs/
*.log

# Temporary files
/tmp/
.DS_Store
*.tmp
*.temp

# IDE and Editor folders
.idea/
.vscode/
*.swp
*.swo

# Uploads
/uploads/
